window {
    margin: 0px;
    background-color: rgba(36, 39, 58, 0.9);
    border-radius: 20px;
    border: 2px solid rgba(127, 187, 179, 0.8);
}

#input {
    margin: 8px;
    padding: 12px;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    background-color: rgba(27, 29, 36, 0.7);
}

#inner-box {
    margin: 8px;
    border: none;
    background-color: transparent;
    border-radius: 15px;
}

#outer-box {
    margin: 8px;
    border: none;
    background-color: transparent;
    border-radius: 15px;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 8px;
    margin-left: 12px;
    color: rgba(255, 255, 255, 0.9);
}

#entry {
    padding: 8px;
    border-radius: 15px;
    margin: 0px 8px;
}

#entry:selected {
    background-color: rgba(127, 187, 179, 0.7);
    border-radius: 15px;
    transition: all 0.15s ease-in-out;
}

#entry:hover {
    background-color: rgba(127, 187, 179, 0.3);
    border-radius: 15px;
    transition: all 0.15s ease-in-out;
}

#entry:selected #text {
    color: #ffffff;
}

#img {
    margin-left: 8px;
    margin-right: 4px;
}

/* Style for no icon available */
#entry image {
    color: rgba(255, 255, 255, 0.9);
}